<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Edit Validation File</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="http://parsleyjs.org/src/parsley.css">
</head>
<body>
    <section layout:fragment="header">
        <h1>
           <small> Edit Validation File For: </small> <span data-bind="text: file().requestType"></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit Validation File</li>
        </ol>
    </section>
    <div layout:fragment="content">
       <!--  <form id="form" data-parsley-validate="" method="POST" enctype="multipart/form-data" action="save-validation-file"> -->
            
            <div data-bind="foreach: {data: [file().massHeader(),file().massDetails(),file().massLine()[0]], as: 'line'}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i data-bind="{click: line.showLine, css: line.isLineVisible() ? 'fa-minus-square' : 'fa-plus-square'}" class="fa fa-plus-square" aria-hidden="true"></i> <!--ko text: lineName--><!--/ko--></h3>
                            </div>
                            <div class="box-body">
                                <div class="row" data-bind="visible: line.isLineVisible">
                                    <div class="col-md-12">
                                        <div data-bind="foreach: {data: line.attributes(), as: 'attribute'}">
                                            <div th:replace="/csv/inc/validation_attribute"></div>
                                        </div>
                                        <div>
                                            <p><i data-bind="click: line.addAttribute" class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Mass Header -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i data-bind="{click: file().massHeader().showLine, css: file().massHeader().isLineVisible() ? 'fa-minus-square' : 'fa-plus-square'}" class="fa fa-plus-square" aria-hidden="true"></i>  Mass Header</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" data-bind="visible: file().massHeader().isLineVisible">
                                <div class="col-md-12">
                                    <div data-bind="foreach: {data: file().massHeader().attributes(), as: 'attribute'}">
                                        <div th:replace="/csv/inc/validation_attribute"></div>
                                    </div>
                                    <div>
                                        <p><i data-bind="click: file().massHeader().addAttribute" class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End Mass Header -->

            <!-- Mass Details -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i data-bind="{click: file().massDetails().showLine, css: file().massDetails().isLineVisible() ? 'fa-minus-square' : 'fa-plus-square'}" class="fa fa-plus-square" aria-hidden="true"></i>  Mass Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" data-bind="visible: file().massDetails().isLineVisible">
                                <div class="col-md-12">
                                    <div data-bind="foreach: {data: file().massDetails().attributes(), as: 'attribute'}">
                                        <div th:replace="/csv/inc/validation_attribute"></div>
                                    </div>
                                    <div>
                                        <p><i data-bind="click: file().massDetails().addAttribute" class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End Mass Details -->

            <!-- Mass Line -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i data-bind="{click: file().massLine()[0].showLine, css: file().massLine()[0].isLineVisible() ? 'fa-minus-square' : 'fa-plus-square'}" class="fa fa-plus-square" aria-hidden="true"></i>  Mass Line</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" data-bind="visible: file().massLine()[0].isLineVisible">
                                <div class="col-md-12">
                                    <div data-bind="foreach: {data: file().massLine()[0].attributes(), as: 'attribute'}">
                                        <div th:replace="/csv/inc/validation_attribute"></div>
                                    </div>
                                    <div>
                                        <p><i data-bind="click: file().massLine()[0].addAttribute" class="fa fa-plus-square" aria-hidden="true"></i> Add Attribute</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End Mass Line -->

            <input name="file" type="hidden" data-bind="value: ko.toJSON(file(), null, 2)">
            <input name="type" type="hidden" data-bind="value: file().requestType">

            <div class="row"> 
                <div class="col-xs-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Save</h3>
                        </div>
                        <div class="box-body">                           
                            <div class="form-group">
                                <button  class="btn btn-success" type="submit">Save File</button>
                                <button id="submit-btn" class="btn btn-success" >print File</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->

    </div>
   <div layout:fragment="after-scripts">
        <script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script>
        <script src="/dist/js/csv/mass_models.js"></script>
        <script src="/dist/js/csv/mass_utils.js"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/
            var validationFile     = /*[[${validationFile}]]*/ 'validationFile';
            var validAttributeTypes         = /*[[${validAttributeTypes}]]*/ 'validAttributeTypes';
            var validationOptions         = /*[[${validationOptions}]]*/ 'validationOptions';
            var validValidationTypes         = /*[[${validValidationTypes}]]*/ 'validValidationTypes';

        /*]]>*/
        </script>
        <script type="text/javascript">
            console.log(validAttributeTypes);
            function ViewModel(){
                var self = this;
                self.validTypes = validAttributeTypes;
                self.validationOptions = validationOptions;
                self.validValidationTypes = validValidationTypes;
                self.file = ko.observable(new ValidationFile(validationFile));
                console.log(self.file());
                self.isHeaderVisible = ko.observable(true);
                self.showHeader = function(){
                    self.isHeaderVisible(!self.isHeaderVisible());
                }
            }

            var myViewModel = new ViewModel();

            ko.applyBindings(myViewModel);

            $(document).ready(function(){
                $('#form').parsley();
                $('#submit-btn').on('click',function(){console.log(ko.toJSON(myViewModel.file(), null, 2))})
            });
        </script>
   </div>
</body>

</html>