<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Import CSV File</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="http://parsleyjs.org/src/parsley.css">
</head>
<body>
    <section layout:fragment="header">
        <h1>
            Import
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Import CSV file</li>
        </ol>
    </section>
    <div layout:fragment="content">
        <div class="row" >
            <div class="col-xs-12">
                <ul style="color: red" data-bind="foreach: {data: errors, as: 'error'}">
                    <li data-bind="text: error"></li>
                </ul>
            </div>
        </div>
        <div class="row"> 
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-header with-border">
                                <h3 class="box-title">Import File To Translete</h3>
                            </div>
                            <div class="box-body"> 
                                <form method="POST" enctype="multipart/form-data" action="validate">
                                    <div class="form-group">
                                        <label>CSV File</label>
                                        <input  id="file" class="form-control" type="file" name="file">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="Load File">
                                    </div>
                                </form>                            
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- <div data-bind="visible: isFileLoaded"> -->
            <form data-bind="visible: isFormVisible" id="demo-form" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-12">
                        <div data-bind="foreach: {data: [massRequest().massHeader(),massRequest().massDetails()], as: 'line'}">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i data-bind="{click: line.showLine, css: line.isLineVisible() ? 'fa-minus-square' : 'fa-plus-square'}" class="fa fa-plus-square" aria-hidden="true"></i>  <!--ko text: lineName--><!--/ko--></h3>
                                </div>
                                <div class="box-body">
                                    <div class="row" data-bind="visible: line.isLineVisible">
                                        <div data-bind="foreach: line.attributes">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" data-bind="text: name"></label>
                                                    <input data-parsley-trigger="keyup" class="form-control" data-bind="{value: value,attr: {'name': name,'type': type}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div th:replace="/csv/inc/mass_details"></div>
                    </div>
                </div> -->
                <!-- Lines section -->
                <div class="row">
                    <div class="col-md-12">                 
                        <div th:replace="/csv/inc/mass_lines"></div>
                    </div>
                </div>
                <!--End Lines Sections -->
                <div class="row"> 
                    <div class="col-xs-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Export Your File</h3>
                            </div>
                            <div class="box-body">                           
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit" data-bind="event: { click: exportFile }" >Save File</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <!-- </div> -->
    </div>
    <a id="myPath" data-bind="visible: false" href="/dist/js/csv/mass_utils.js"></a>
   <div layout:fragment="after-scripts">
    <script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script>
    <script src="/dist/js/csv/mass_utils.js"></script>
    <script src="/dist/js/csv/mass_models.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var errors     = /*[[${errors}]]*/ 'errors';
        var inputFile               = /*[[${inputFile}]]*/ 'inputFile';

    /*]]>*/
    </script>
    <script type="text/javascript">

        function ViewModel() {
            var self = this;
            self.massRequest = ko.observable(new ValidationFile(inputFile));
            self.errors = errors;
            self.isFormVisible = ko.observable(errors ? false : true);
            console.log(self.massRequest());

            self.exportFile = function(){
                if(!$('#demo-form').parsley().validate()){
                    alert('Validation Failed!')
                    return;
                }
                console.log('exportFile');
                var rows = self.massRequest().getAllRows();

                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   csvContent += rowArray + '\n'; // add carriage return
                });               
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "my_data.csv");
                document.body.appendChild(link); // Required for FF

                link.click(); // This will download the data file named "my_data.csv".
            };
        };

        var myViewModel = new ViewModel();

        ko.applyBindings(myViewModel);
        var dateFields = [];
        // var stringMethod =new Function('value',"var date = value.split('/');var newDate = new Date(Date.parse(date[2]+ ' '+ date[1]+ ' ' + date[0]));var now = new Date();now.setHours(12,0,0,0);newDate.setHours(12,0,0,0);return newDate >= now;");

        
        $(document).ready(function(){
         //   $('#demo-form').parsley();
            window.Parsley.addValidator('mindate', {
              validateString: function(value) {
                if(!value) return true;
                var date = value.split('/');
                var newDate = new Date(Date.parse(date[2]+ ' '+ date[1]+ ' ' + date[0]));
                var now = new Date();
                now.setHours(12,0,0,0);
                newDate.setHours(12,0,0,0);
                return newDate >= now;
              },
              messages: {
                en: 'Date must gratter or equal then today!',
              }
            });

            window.Parsley.addValidator('attributeslist', {
              validateString: function(value) {
                var ret = validateAttributesList(value);
                return ret;
              },
              messages: {
                en: 'Wrong format!',
              }
            });

            addValidationToLine(myViewModel.massRequest().massHeader());
            addValidationToLine(myViewModel.massRequest().massDetails());
            myViewModel.massRequest().massLines().forEach(function(line){
                addValidationToLine(line);
            });
            

            $('#demo-form').parsley().validate();
        });

    </script>
       
   </div>
</body>

</html>