<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Edit Validation File</title>
</head>
<body>
    <section layout:fragment="header">
        <h1>
            Edit Validation File
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit Validation File</li>
        </ol>
    </section>
    <div layout:fragment="content">

    </div>
   <div layout:fragment="after-scripts">
        <script th:inline="javascript">
        /*<![CDATA[*/
            var validationFile     = /*[[${validationFile}]]*/ 'validationFile';

        /*]]>*/
        </script>
   </div>
</body>

</html>